header {
    background-color: black;
    color: white;
    font-size: 32px;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

body {
    background-color: black;
}

.link {
    text-align: center;
}
a {
    color: turquoise;
    text-decoration: underline;
}